.botones{
	background-color: #c80a03;/*Color rojo*/
	color: #009fff;/*Color rojo*/
	border-radius: 1em;
	margin-top: 1em;
	font-size: 1em;
	border-color: #c80a03; 
}
.fondo{
	background-color: #eee;/*Color gris*/
}